

*{box-sizing: border-box;}


body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;


  }

  .bg{
    background-image: url(../img/emma-matthews-digital-content-production-O_CLjxjzN3M-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter:blur(0px) ;
    -webkit-filter:blur(50px) ;
}

.lodaing-text{
    font-size: 50px;
    
}